.webixappstart {
  opacity: 0;
}

.webixapp {
  transition: opacity 500ms;
  opacity: 1;
}

/*data loading status*/
.status_good,
.status_error,
.status_saving {
  text-align: center;
  margin-left: -12px;
}

.status_error {
  color: red;
}

.status_good {
  color: green;
}

/*login form*/
div.invalid_login input {
  border-color: #ff8d82 !important;
  transition: border-color 1s;
  background-color: #ffdedb;
}

.invalid_login {
  -webkit-animation: formshake 0.5s linear;
  animation: formshake 0.5s linear;
}

@-webkit-keyframes formshake {

  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }

  25%,
  58% {
    -webkit-transform: translateX(10px);
  }

  75% {
    -webkit-transform: translateX(-5px);
  }

  92% {
    -webkit-transform: translateX(5px);
  }

  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes formshake {

  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }

  25%,
  58% {
    -webkit-transform: translateX(10px);
  }

  75% {
    -webkit-transform: translateX(-5px);
  }

  92% {
    -webkit-transform: translateX(5px);
  }

  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}

.app_header.webix_header {
  margin-top: 0 !important;
  text-align: center;
}

.app_layout.webix_layout_clean {
  background: #ebedf0;
}

.app_start .webix_template {
  padding: 12px 12px;
}

.app_menu .webix_icon {
  font-size: 20px;
  vertical-align: middle;
}

.ztemplate-main {
  /* background: rgb(231, 231, 231);
  background-image: url("http://localhost:8080/assets/cover1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* background: white !important; */
  /* background: radial-gradient(ellipse at bottom, #ffffff 0%, #ffffff 100%); */
  background-color: #fff;
  overflow: hidden;
}

.ztemplate-main .webix_template {
  padding: 0;
}

.z-cell-trg {
  background: #ffaaaa;
}

.z-cell-src {
  background: #ffe993;
}

.z-cell-diff {
  background: #82e6f3;
}

.wrap,
.intro {
  height: 100%;
}

.wrap {
  margin: 0 auto;
  min-width: 1200px;
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  color: #475466;
  text-align: center;
}

.intro .page-inner {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.intro .page-inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.intro .page-inner * {
  position: relative;
  z-index: 1;
}

.intro .page-inner .sub-title {
  font-family: "Noto Serif", sans-serif;
  font-size: 18px;
  font-style: italic;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
}

.intro .page-inner .title {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  margin-top: 0;
}

.intro-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* NEW */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.go-btn {
  font-size: 16px;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

.z_link_btn {
  cursor: pointer;
}

.right-arrow-btn {
  margin-bottom: 2px;
  font-size: 30px;
  display: inline-block;
  top: 2px;
}

button.webix_icon_button {
  width: 50px;
}

div.webix_list_item {
  cursor: auto;
}

div.webix_list_item .hoverButton {
  display: none;
}

div.webix_list_item:hover .hoverButton {
  display: initial;
  float: right;
}

.z_multiline_header {
  line-height: 28px !important;
}

.z_setting_btn {
  background: #fff;
  /* border-top: 1px solid rgb(226, 226, 226); */
}

.z_btn_transparent div,
.z_btn_transparent button {
  background: transparent !important;
  font-weight: normal;
  font-size: 13px;
}

.z_multi_conn_icon {
  background: #f4f5f9 !important;
}

.z_multi_conn_icon:hover {
  background: #dddddd !important;
}

/* .z_out_template div.webix_template {
   padding: 0;
} */

/* Query loading-------------- */
.wait,
.wait * {
  background-color: transparent !important;

  box-shadow: none !important;
}

.loading-content {
  /* text-align: center; */
  /* margin-top: 50px; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
}

.z_overlay {
  /* text-align: center; */
  /* margin-top: 50px; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(233, 233, 233, 0.5);
}

.loading-content span {
  font-size: 18px;
  color: grey;
  opacity: 1;
  display: block;
}

.loading-ico {
  width: 64px;
  height: 64px;
  border: 3px solid #efefef;
  border-radius: 50%;
  border-top-color: #2bb98b;
  display: inline-block;
  animation: spin 650ms ease infinite;
}

.loading-ico.no-border {
  z-index: 999;
  border: 5px solid transparent;
  border-top-color: #2bb98b;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* END: Query loading-------------- */

.z_query_page_panel .webix_overlay {
  padding: 0;
}

.z_resizer {
  height: 3px !important;
}

.z_resizer_small {
  width: 3px !important;
}

.z_resizer_smaller {
  width: 2px !important;
}

.z_resizer_thin {
  width: 1px !important;
}

.z_resizer_hor_thin {
  height: 1px !important;
}

/* PAGER */
.webix_pager.z-pager-aligned {
  /* text-align: left; */
  padding: 0 6px;
}

/* END: PAGER */

.z_copied_label {
  font-size: 20px;
  color: #1ca1c1;
}

.z_fade_list .webix_scroll_cont::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8));
  /* background-color: yellow; */
  width: 110px;
  height: 100%;
}

.loading-content,
.transfer-content {
  /* text-align: center; */
  /* margin-top: 50px; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}

.z_overlay_loading .webix_overlay {
  padding: 0;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wink {
  50% {
    opacity: 0;
  }
}

@keyframes wink {
  50% {
    opacity: 0;
  }
}

.loading-content .spinner,
.transfer-content .spinner {
  margin: 3em auto;
  position: relative;
  z-index: 999;
}

.loading-content .spinner:before,
.transfer-content .spinner:before {
  content: "";
  display: block;
  width: 7em;
  height: 1em;
  margin: 3em auto;
  padding: 3em 0;
  border-radius: 50%;
  border: 2px solid #fdfdfd;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-animation: rotate 1s ease infinite;
  animation: rotate 1s ease infinite;
}

.loading-content .spinner:after,
.transfer-content .spinner:after {
  content: "Downloading";
  position: absolute;
  top: 32px;
  left: 0;
  color: #fff;
  font-size: 1em;
  width: 7.4em;
  line-height: 8em;
  text-align: center;
  -webkit-animation: wink 1.4s ease infinite;
  animation: wink 1.4s ease infinite;
}

.transfer-content .spinner:after {
  content: "Transfering";
  position: absolute;
  top: 32px;
  left: 0;
  color: #fff;
  font-size: 1em;
  width: 7.4em;
  line-height: 8em;
  text-align: center;
  -webkit-animation: wink 1.4s ease infinite;
  animation: wink 1.4s ease infinite;
}

/* BACKDROUND ANIMATION --------------------- */

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

@keyframes spin_mdi {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.spin_mdi {
  animation-name: spin_mdi;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin_mdi_right {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.spin_mdi_right {
  animation-name: spin_mdi_right;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.z_mdi_splin_color {
  color: orange !important;
}

.z_tree_d_open,
.z_db_tree .webix_selected {
  color: #ac9230 !important;
}

.z_tree_s_open,
.z_db_tree .webix_selected {
  color: #c15353 !important;
}

.z_tree_f_open,
.z_tree_g_open,
.z_db_tree .webix_selected {
  color: #89c4ed !important;
}

.z_tree_r_open,
.z_tree_w_open,
.z_db_tree .webix_selected {
  color: #109afc !important;
}

.z_tree_t_open,
.z_tree_u_open,
.z_db_tree .webix_selected {
  color: #82940b !important;
  /* #834EC7 */
  /* #B0D73D */
}

.z_tree_v_open,
.z_tree_y_open,
.z_db_tree .webix_selected {
  color: #d3cf07 !important;
  /* #834EC7 */
  /* #B0D73D */
}

.z_tree_u2_icon,
.z_db_tree .webix_selected {
  color: #d100ae;
}

.z_tree_u3_icon,
.z_db_tree .webix_selected {
  color: #3575ff !important;
}

.z_tree_u31_icon,
.z_db_tree .webix_selected {
  color: #5d90ff !important;
}

.z_tree_u4_icon,
.z_db_tree .webix_selected {
  /* color: #0add1c; */
  color: #ce9e00 !important;
}

.z_tree_u42_icon,
.z_db_tree .webix_selected {
  /* color: #0add1c; */
  color: #f3ba00 !important;
}


.z_tree_u21_icon_p,
.z_db_tree .webix_selected {
  /* color: #0add1c; */
  color: #ddb224 !important;
}

span.z_tree_u21_icon_f,
span.z_tree_u21_icon_p {
  font-size: 15px;
}

.z_tree_u21_icon_f,
.z_db_tree .webix_selected {
  /* color: #0add1c; */
  color: #a7a7a7 !important;
}

.z_tree_u21_icon_u,
.z_db_tree .webix_selected {
  /* color: #0add1c; */
  color: #85b5f5 !important;
}



.z_db_tree .webix_selected {
  /* background-color: orange !important; */
  background-color: rgba(204, 245, 255, 0.5) !important;
}

.mdi_pulsate {
  /* animation: pulsate 1s linear infinite;*/
  animation-name: animation_pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mdi_pulse {
  animation: animation_pulse 2s ease 0s infinite;
}

.mdi_spin {
  animation-name: animation_spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation_spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animation_pulsate {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 0;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.database_search_cmb .webix_overlay {
  padding-top: 0;
}

/* .database_search_cmb input.webix_el_combo{ */
.database_search_cmb .webix_el_box input {
  background-color: transparent;
  padding-right: 1px;
}

.app_button button {
  line-height: 29px !important;
}

/* .z_app_tabview .webix_item_tab{ */
.z_app_tabview>div>div>div.webix_item_tab {
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(226, 226, 226, 1) 48%,
      rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.z_layout_p .webix_shadow_medium {
  box-shadow: none !important;
}

.z_combo_item_t {
  color: #677700 !important;
}

.z_combo_item_f {
  color: #006ebd !important;
}

.z_border_top {
  border-top: 1px solid #dadee0;
}

::selection {
  background-color: #c3cfe2;
}

.text-gradient {
  /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
  color: grey;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* waves */
.ocean {
  height: 80px;
  /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%2369cbf5'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.btn_template {
  border: 1px solid rgb(187, 187, 187);
  padding: 2px 4px;
  border-radius: 2px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.search_suggest .webix_progress_icon .webix_progress_state {
  font-size: 20px;
  left: 99%;
  top: 90%;
}

/* Loader------------------ */
.loader {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.05);
}

.loader h3 {
  color: rgb(56, 56, 56);
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

.loader span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  animation: 3s infinite linear;
  -webkit-animation: 3s infinite linear;
  -moz-animation: 3s infinite linear;
  -o-animation: 3s infinite linear;
}

.loader span:nth-child(2) {
  background: #e84c3d;
  animation: kiri 1.2s infinite linear;
  -webkit-animation: kiri 1.2s infinite linear;
  -moz-animation: kiri 1.2s infinite linear;
  -o-animation: kiri 1.2s infinite linear;
}

.loader span:nth-child(3) {
  background: #f1c40f;
  z-index: 100;
}

.loader span:nth-child(4) {
  background: #2fcc71;
  animation: kanan 1.2s infinite linear;
  -webkit-animation: kanan 1.2s infinite linear;
  -moz-animation: kanan 1.2s infinite linear;
  -o-animation: kanan 1.2s infinite linear;
}

@keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(20px);
    z-index: 200;
  }
}

@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(20px);
    z-index: 200;
  }
}

@-moz-keyframes kanan {
  0% {
    -moz-transform: translateX(20px);
  }

  50% {
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(20px);
    z-index: 200;
  }
}

@-o-keyframes kanan {
  0% {
    -o-transform: translateX(20px);
  }

  50% {
    -o-transform: translateX(-20px);
  }

  100% {
    -o-transform: translateX(20px);
    z-index: 200;
  }
}

@keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(-20px);
  }
}

@-webkit-keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes kiri {
  0% {
    -moz-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(-20px);
  }
}

@-o-keyframes kiri {
  0% {
    -o-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -o-transform: translateX(20px);
  }

  100% {
    -o-transform: translateX(-20px);
  }
}

/* END:Loader------------------ */

.diff_detail_panel .webix_overlay {
  padding-top: 0 !important;
}

.diff_config_info_lbl div {
  font-size: 12px !important;
  font-weight: normal !important;
}

/* .z_query_page_panel  */
.webix_progress_top {
  height: 4px !important;
}

.webix_progress_icon .mdi-loading.z_mdi_loader {
  animation: webix_spin 1s infinite linear;
}

.z_viewdata_page_panel {
  border-top-width: 1px !important;
}

.zmdi_padding button span {
  padding-top: 2px;
}

.zmdi_padding_lbl_icon .webix_icon_btn {
  padding-top: 2px;
}

/* PAGER */
.webix_pager.z-pager-aligned {
  text-align: right;
}

.webix_pager.z-pager-aligned-left {
  line-height: 2;
  padding-left: 10px;
  text-align: left;
  /* background: yellow; */
}


.z_register_link,
.z_login_link {
  padding: 8px 0;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.z_register_link:hover,
.z_login_link:hover {
  text-decoration: none;
  color: #1ca1c1;
  font-size: 14px;
  font-weight: 500;
}


/* .webix_message_area{
  top:initial !important;
  bottom: 100px;
  left:100px;
} */


.z_mdi_icon_smaller .webix_icon {
  font-size: 17px;
}

.z_generator_list .webix_list_item {
  cursor: pointer;
}

.z_tab_about .webix_template {
  overflow: hidden;
}

.z_tab_about .webix_template:hover {
  overflow-y: scroll;
}

.zheader .app_button button span {
  margin-left: 5px !important;
}


/* https://bg.siteorigin.com/?color=%232AA062&pattern=arches&blend=4&intensity=10&noise=0&invert=0&2x=0 */
/* https://bggenerator.com/index.php */
/*
.z_app_tabview .webix_el_tabbar{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black url("http://localhost:8000/assets/tabbar-bg5.png") !important;
  background-repeat:repeat;
  background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.webix_item_tab.z_tabview_item{
  background-color: rgba(255,255,255,0.3) ;
  color: white;
}
.z_app_tabview div.webix_item_tab.webix_selected{
  background-color: rgba(255,255,255,0.6);
  color: white;
}
.z_app_tabview div.webix_item_tab.webix_selected:hover{
  background-color: rgba(255,255,255,0.6);
  color: white;
}
.z_app_tabview.webix_layout_line div.webix_item_tab.webix_selected{
  color: white;
}
.z_app_tabview .webix_item_tab:hover{
  background-color: rgba(255,255,255,0.6);
}
.z_app_tabview .webix_item_tab{
  background-color: rgba(255,255,255,0.3);
  color: white;
}
.webix_item_tab.z_tabview_item.webix_selected:hover {
  background-color: rgba(255,255,255,0.5);
}
.webix_item_tab.z_tabview_item.webix_selected{
  background-color: rgba(255,255,255,0.6);
}

.zheader.webix_layout_toolbar{
  background:url("http://localhost:8000/assets/tabbar-bg5.png") rgba(0, 0, 0, 0.3);
}

.zheader.webix_layout_toolbar .app_header{
  background-color: transparent;
  color: white !important;
}
*/


.search_suggest_detach input {
  font-size: 16px;
  /* text-align: center !important; */
}

.search_suggest_detach_item .webix_list .webix_list_item {
  /* height: 38px !important; */
  font-size: 14px;
  line-height: 2.3;
  /* line-height: 1; */
}

.webix_list .webix_list_item.webix_selected {
  background-color: #f4f5f9 !important;
  color: #1ca1c1;
}



.myGlyphMarginClass {
  background: green !important;
}

.myContentClass {
  background: #ebf1dc !important;
}

.breakpointStyle {
  background: #ff5c4c !important;
}

/*
.rightLineDecoration {
	background: red !important;
}
*/

.z_tabbar_result .webix_layout_line {
  border-bottom-width: 1px !important;
}

.z_console_editor_panel {
  border: 1px solid #dadee0;
}

.z_query_sidemenu_right {
  margin-left: 0 !important;
}

.z_query_detail_cell textarea {
  font-family: Courier New, sans-serif;
  font-size: 14px;
}

.z_list_cursor_pointer {
  cursor: pointer;
}

.z_db_tree_filter input {
  border: none !important;
}


.animated-check {
  height: 1.2em;
  width: 1.2em;
}

.animated-check path {
  fill: none;
  stroke: #1CA1C1;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 500ms linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.animated-check-white {
  height: 1.2em;
  width: 1.2em;
}

.animated-check-white path {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 500ms linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.z_icon_color_primary .webix_icon {
  color: #1CA1C1 !important;
}

.z_icon_color_primary .webix_icon:hover {
  color: #0a8dad !important;
}

.z_icon_size_16 .webix_icon,
.z_icon_size_16 .webix_icon_btn {
  font-size: 16px;
  line-height: 19px;
}

.z_icon_size_17 .webix_icon,
.z_icon_size_17 .webix_icon_btn {
  font-size: 17px;
}

.z_icon_size_18 .webix_icon,
.z_icon_size_18 .webix_icon_btn {
  font-size: 18px;
}

.z_icon_size_20 .webix_icon,
.z_icon_size_20 .webix_icon_btn {
  font-size: 20px !important;
}

/* Syntax highlighted */
.z_query_detail_cell pre {
  font-size: 14px;
  margin: 0;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}


.z_app_sidebar .webix_template:hover {
  cursor: pointer;
  color: #1CA1C1;
}

.z_red_row {
  background-color: #FFAAAA;
  /* #ffeeee */
}

.z_orange_row {
  background-color: #ffe08a;
}

.z_cell_null::before {
  /* .z_cell_null { */
  content: "[null]";
  color: rgb(182, 182, 182);
  /* background-color: yellow; */
}

.z_query_result_grid .webix_hcell {
  border-right: 1px solid #e1e1e1 !important;
}

.z_changes_cell_result {
  font-weight: bold;
  /* color: #1CA1C1 !important; */
}

.z_sent_share {
  color: #31d931;
}

.z_receive_share {
  color: #ff4848;
}

.z_primary_color,
.z_primary_color .webix_icon {
  color: #1CA1C1 !important;
}

.z_fontsize_18 {
  font-size: 18px !important;
}

.z_share_remove_icon {
  color: rgb(236, 236, 236);
  float: right;
  margin-top: 2px;
}

.z_share_remove_icon:hover {
  color: red !important;
  cursor: pointer;
}

.z_share_list .webix_list_item {
  cursor: default;
}

/* Loading spinner overlay --------*/
.z_overlay_progress {
  background-color: #fff;
  opacity: 0.6;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 95;
}

.z_overlay_progress .z_overlay_progress_state {

  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: auto;
  margin-top: auto;
  display: inline-block;
  left: 0;
  right: 0;
  color: #898d93;
  display: flex;
  justify-content: center;
  align-items: center;
}


.z_overlay_progress .z_overlay_progress_state .z_loading_spinner {
  pointer-events: none;
  margin-right: 6px;
  width: 25px;
  height: 25px;
  border: 5px solid transparent;
  border-color: #e3e3e3;
  border-top-color: rgb(221, 170, 136);
  border-radius: 50%;
  -webkit-animation: loadingspin 1s linear infinite;
  animation: loadingspin 1s linear infinite;
}

@-webkit-keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

/* END: Loading spinner overlay --------*/

.z_navbar_brand .webix_el_box {
  color: #fff !important;
}

.z_navbar_viewshare {
  background: #ddaa88;
  background: linear-gradient(90deg, rgba(221, 170, 136, 1) 21%, rgba(238, 187, 153, 1) 93%);
}

.copied_done {
  background: transparent;
}

.copied_done .webix_template {
  padding: 8px;
  color: #fff !important;
}

.copied_done .webix_template .animated-check {
  color: #fff !important;
}

.z_icon_white .webix_icon {
  color: #fff !important;
}

.z_icon_white .webix_icon:hover,
.z_icon_white .webix_icon_button:hover {
  color: rgb(221, 170, 136) !important;
}

.z_label_normal_white div.webix_el_box {
  font-weight: normal !important;
  font-size: 12px !important;
  color: #fff !important;
}

.z_label_normal div.webix_el_box {
  font-weight: normal !important;
  font-size: 12px !important;
}

.z_confirm_del_head .webix_win_head {
  border-bottom: none;
  background: #fdbf4c;
}

.z_read_bold {
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
  animation-iteration-count: 3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.toasify_error {
  background: #ffdedb !important;
  border: 1px solid #ff8d82;
  color: #313131 !important;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.toasify_success {
  background: #ddf5ea !important;
  border: 1px solid #88dcb6;
  color: #313131 !important;
  margin-right: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.copydata_scrollview .webix_overlay {
  padding: 0;
}

.z_center_middle {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.z_label_size_9pt .webix_el_box {
  font-size: 9pt !important;
  color: #313131;
  font-weight: 500;
}


.z_loading_panel {
  background: rgba(255, 255, 255, .5);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.padding_overlay_zero .webix_overlay {
  padding: 0 !important;
}

.laoder-spinner-container {
  text-align: center;
}

.loader-spinner {
  display: inline-block;
  height: 30px;
  width: 30px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border: 4px solid rgba(28, 161, 193, .15);
  border-top: 4px solid rgba(28, 161, 193, .8);
  border-radius: 100%;
}

.z_loading_text {
  font-size: 14px;
}

.font_size14 {
  font-size: 14px;
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-ms-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.copy_tabbar_bottom {
  border-width: 1px 0px 1px !important;
}

.multiline_label_checkbox .webix_label_right {
  white-space: pre-wrap;
  line-height: normal;
  display: table-cell;
}

.copydata_spreadsheet .webix_cell_select {
  border: 1px solid #8cd9ff !important;
}

.boxline_shadow {
  border-top-width: 0 !important;
}

.boxline_shadow .webix_header {
  box-shadow: inset 0 4px #1CA1C1;
}

.copydata_scrollview div.webix_overlay {
  cursor: pointer;
}

.search_suggest_list .webix_list_item {
  display: flex;
  justify-content: space-between;
}

.source_def_item {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.source_def_item_detach {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.source_def_type {
  width: 20px;
  height: 18px;
  margin-top: 2px;
  text-align: center;
  border-radius: 2px;
}

.source_def_type_detach {
  width: 24px;
  height: 26px;
  margin-top: 4px;
  text-align: center;
  border-radius: 2px;
}

.source_def_type_tbl {
  color: #fff;
  background: #f96854;
}

.source_def_type_fun {
  color: #fff;
  background: #00d1b2;
}

.welcome_content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome_title {
  /* color: rgb(221, 171, 137); */
  color: #fff;
  font-size: 16em;
  margin: 0;
  -webkit-text-stroke: 1px rgb(221, 171, 137);
  -webkit-text-fill-color: #fff;
  /* -webkit-text-fill-color: rgb(250, 231, 218); */
  /* color: #e3f0ff;
  text-shadow:
    -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
  caret-color: #262626;
  outline: none; */
}


svg {
  position: absolute;
  font-family: Roboto, sans-serif;
  font-size: 20em;
  letter-spacing: 0.15em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

svg text {
  fill: rgb(243, 221, 206);
  stroke: rgb(221, 171, 137);
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }

  25% {
    stroke-width: 3px;
  }

  50% {
    fill-opacity: 0;
  }

  75% {
    stroke-width: 3px;
  }

  100% {
    stroke-width: 0;
  }
}

.short-picker .webix_inp_static {
  padding: 0px;
  color: transparent;
}

.short-picker .webix_input_icon {
  right: 7px;
}

.ed_char_error_decoration {
  background: yellow !important;
}

.ed_line_error_decoration {
  background: lightblue !important;
}

.start_bg {
  /* background: #eeeeee; */
}

.shimmer_container {
  margin-top: 1px !important;
}

.shimmer_container .webix_template {
  padding: 4px 0pt !important;
}

.shimmer {
  /* padding: 8px; */
  min-height: 24px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #f4f5f9, #f4f5f9, #f4f5f9, #F2F2F2, #f4f5f9, #f4f5f9, #f4f5f9, #f4f5f9);
  background-size: 300%;
  background-repeat: no-repeat;
  animation: shimmy 1s infinite cubic-bezier(0.9, 0, 0.3, 0.1);
  margin-bottom: 8px;
}

@keyframes shimmy {
  0% {
    background-position: 80%;
  }

  100% {
    background-position: 0;
  }
}


.z_expand_col_btn {
  color: #cfcfcf;
}

.z_expand_col_btn:hover {
  color: #1CA1C1;
  font-size: 16px;
  cursor: pointer;
}

.server_status .webix_template{
  padding: 0 !important;
}

.z_hover_text:hover{
  font-size: 14px;
  color: #1ca1c1;
  cursor: pointer;
}

.z_cursor_progress > * {
  cursor: wait !important;
}

.listitem_handcursor .webix_list_item{
  cursor: pointer;
}

.listitem_handcursor .webix_list_item:hover{
  background: #edeff5 !important;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color:  #475466;
  color:  #fff;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
 font-weight: 500;
  line-height: 20px;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

.shake-container {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shake-element {
  font-size: 13px;
}

.shake-icon {
  color: #1ca1c1;
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

.zwebix_modalbox_primary > div.webix_popup_controls > div:nth-child(1) > div,
.zwebix_modalbox_primary > div.webix_popup_controls > div:nth-child(2) > div{
  background: #1CA1C1;
  color: #FFFFFF;
}

.screensaver .webix_template{
  /* filter: blur(10px); */
  background: transparent !important;
  /* background-color: rgba(255, 0, 0, 0.5) */
}